/* Start Global White Mode */
body.white-mode {
    background-color: var(--platinum);
}
body.white-mode .special-heading h1 {
    color: var(--rich-black);
}
/* End Global White Mode */
/* Start Header White Mode Section */
body.white-mode header {
    color: var(--yimn-blue);
}
body.white-mode header nav .icons span {
    background-color: var(--rich-black);
}
body.white-mode header ul li::after {
    color: var(--yimn-blue);
}
body.white-mode header ul li a {
    color: var(--rich-black);
}
@media (max-width: 992px) {
    body.white-mode header ul li a {
        color: var(--platinum);
    }
}
body.white-mode header nav label div {
    background-color: var(--platinum);
    color: var(--rich-black);
    border-color: var(--rich-black);
}
/* End Header White Mode Section */
/* Start Landing White Mode Section */
body.white-mode .landing .intro-text {
    color: var(--rich-black);
}
body.white-mode .landing .intro-text .btn.secondry {
    border-color: var(--rich-black);
}
/* End Landing White Mode Section */
/* Start Project White Mode Section */
body.white-mode .project .images span {
    background: var(--oxford-blue);
    color: var(--platinum);
}
body.white-mode .project .images img {
    box-shadow: 0 0 20px 0 var(--rich-black);
}
body.white-mode .project .images span:hover {
    background: var(--sliver-blue);
    color: var(--oxford-blue);
}
body.white-mode .project .images .bullets .bullet {
    background-color: var(--rich-black);
}
body.white-mode .project .images .bullets .bullet.active {
    background-color: var(--sliver-blue);
}
/* End Project White Mode Section */
/* Start Resume White Mode Section */
body.white-mode .resume .parent h2 {
    color: var(--rich-black);
}
body.white-mode .resume .parent > div > div {
    color: var(--rich-black);
}
body.white-mode .resume .parent > div > div::before {
    background-color: var(--rich-black);
    color: var(--platinum);
}
body.white-mode .resume .parent > div > div p::before {
    background-color: var(--rich-black);
}
/* End Resume White Mode Section */
/* Start Contact White Mode Section */
body.white-mode .contact .container {
    color: var(--rich-black);
}
body.white-mode .contact .social-media i {
    color: var(--rich-black);
}
body.white-mode .contact .social-media i:hover {
    color: var(--platinum);
}
/* End Contact White Mode Section */
