/* Start Variables */
:root {
    --rich-black: #0d1b2a;
    --oxford-blue: #1b263b;
    --yimn-blue: #415a77;
    --sliver-blue: #778da9;
    --platinum: #e0e1dd;
    --mainpadding: 80px;
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    -o-scroll-behavior: smooth;
    scroll-behavior: smooth;
}
body {
    font-family: "Maven Pro", sans-serif;
    background-color: var(--rich-black);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    background-color: var(--platinum);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--yimn-blue);
}
body::-webkit-scrollbar-thumb:hover {
    background-color: var(--oxford-blue);
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 786px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.hidden {
    opacity: 0;
    overflow: hidden;
    filter: blur(5px);
    transform: translateX(-100%);
}
.showen {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: opacity 1s, transform 1s, filter 1s;
}
/* End Global Rules */
/* Start Components */
.special-heading h1 {
    color: var(--platinum);
    font-size: 45px;
    text-align: center;
    font-weight: 800;
}
section {
    padding-top: var(--mainpadding);
    padding-bottom: var(--mainpadding);
}
@media (max-width: 750px) {
    .special-heading h1 {
        font-size: 25px;
    }
}
@media (max-width: 950px) {
    section {
        padding-top: 0;
    }
}
/* End Components */
/* Start Header */
header {
    padding: 15px;
    min-height: 85px;
    color: var(--platinum);
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo {
    display: flex;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
header .container .logo,
header nav ul a {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
header .container i {
    font-size: 25px;
}
header nav {
    display: flex;
}
header nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
header nav ul a {
    color: inherit;
    text-decoration: none;
}
header nav ul li {
    display: inline-block;
    margin-left: 15px;
    font-weight: bold;
}
@media (min-width: 992px) {
    header nav {
        display: flex;
        align-items: center;
    }
    header nav ul a {
        position: relative;
        color: var(--sliver-blue);
        top: 20px;
    }
    header nav ul li {
        width: fit-content;
        overflow: hidden;
        position: relative;
    }
    header nav ul li::after {
        content: attr(data-name);
        position: absolute;
        color: var(--platinum);
        left: 0;
        top: 0;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    header nav ul li:hover a {
        top: 0;
    }
    header nav ul li:hover::after {
        top: -20px;
    }
}
header label {
    cursor: pointer;
    margin-left: 20px;
}
header label input {
    display: none;
}
header label div {
    width: 85px;
    height: 35px;
    background-color: var(--oxford-blue);
    border: 2px solid var(--platinum);
    border-radius: 25px;
    position: relative;
}
header label div::before {
    font-family: "Font Awesome 6 Free";
    content: "\f185";
    font-weight: 900;
    position: absolute;
    width: 20px;
    font-size: 20px;
    top: 50%;
    left: 5px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
header label input:checked + div:before {
    content: "\f186";
    left: 58px;
}
header .container .logo:hover {
    color: var(--sliver-blue);
}
@media (max-width: 991px) {
    header nav .icons {
        display: block;
        width: 40px;
        height: 30px;
        position: relative;
        cursor: pointer;
    }
    header nav .icons span {
        height: 3px;
        background-color: white;
        width: 100%;
        position: absolute;
        left: 0;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    header nav .icons span:first-child {
        top: 0;
    }
    header nav.show .icons span:first-child {
        transform: rotate(45deg);
    }
    header nav .icons span:nth-child(2) {
        top: 13px;
    }
    header nav.show .icons span:nth-child(2) {
        opacity: 0;
    }
    header nav .icons span:last-child {
        top: 27px;
    }
    header nav.show .icons span:last-child {
        transform: rotate(-45deg);
    }
    header nav.show .icons span {
        top: 14px;
    }
    header nav > ul {
        display: none;
    }
    header nav ul {
        top: 200px;
        width: 100%;
        text-align: center;
        display: block;
        position: absolute;
        background-color: var(--yimn-blue);
        right: 0;
        padding: 15px;
        z-index: -1;
        opacity: 0;
        transition: 1s;
    }
    header nav.show ul {
        top: 70px;
        z-index: 99;
        opacity: 1;
    }
    header nav ul li {
        display: block;
        margin-left: 0;
    }
    header nav ul li:not(:last-of-type) {
        margin-bottom: 15px;
    }
    header nav ul li:hover a {
        color: var(--oxford-blue);
    }
    header label div {
        width: 0;
        border: none;
    }
    header label div::before {
        left: 0;
    }
    header label input:checked + div:before {
        content: "\f186";
        left: 0;
    }
}
/* End Header */
/* Start Landing Section */
.landing {
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 85px);
}
@media (max-width: 992px) {
    .landing {
        align-items: center;
    }
}
.landing .intro-text {
    width: 750px;
    max-width: 100%;
    color: var(--platinum);
}
.landing .intro-text p:first-child {
    font-size: 18px;
    font-weight: lighter;
}
.landing .intro-text h1 {
    font-size: 30px;
    font-weight: 800;
}
.landing .intro-text p:last-of-type {
    line-height: 1.8;
    color: var(--sliver-blue);
    font-size: 18px;
    margin-bottom: 50px;
}
.landing .intro-text .btn {
    text-decoration: none;
    margin-top: 15px;
    padding: 15px 40px;
    border-radius: 40px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.landing .intro-text .btn.prime {
    color: var(--platinum);
    background-color: var(--yimn-blue);
    margin-right: 8px;
}
.landing .intro-text .btn.prime:hover {
    color: var(--rich-black);
}
.landing .intro-text .btn.secondry {
    color: var(--rich-black);
    background-color: var(--platinum);
    border: 2px solid var(--platinum);
}
.landing .intro-text .btn.secondry:hover {
    background-color: var(--rich-black);
    color: var(--platinum);
}
@media (max-width: 768px) {
    .landing .intro-text .btn {
        text-align: center;
        display: block;
    }
    .landing .intro-text .btn.prime {
        margin-right: 0px;
    }
}
.landing .intro-text .btn-prime i {
    margin-right: 5px;
}
.landing .image-logo {
    width: 300px;
    max-width: 100%;
}
.landing .image-logo img {
    width: 100%;
}
@media (max-width: 750px) {
    .landing {
        flex-wrap: wrap;
    }
    .landing .image-logo {
        margin-top: 20px;
        width: 100%;
    }
}
/* End Landing Section */
/* Start Projects Section */
.project {
    padding-top: 0;
}
.project .images {
    width: 1000px;
    max-width: 100%;
    margin: 20px auto;
    position: relative;
}
.project .images img.active {
    position: relative;
    opacity: 1;
}
.project .images img {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    box-shadow: 0 0 20px 0 var(--rich-black);
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.project .images .prev,
.project .images .next {
    cursor: pointer;
    position: absolute;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    top: 50%;
    color: var(--rich-black);
    background-color: var(--platinum);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: background-color 0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, color 0.5s;
    -ms-transition: background-color 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
}
.project .images .prev {
    left: 0px;
    border-radius: 0 15px 15px 0;
}
.project .images .next {
    right: 0px;
    border-radius: 15px 0 0 15px;
}
.project .images .prev:hover,
.project .images .next:hover {
    background-color: var(--yimn-blue);
    color: var(--platinum);
}
.project .images .bullets {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
}
.project .images .bullets .bullet {
    background-color: var(--platinum);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.project .images .bullets .bullet.active {
    background-color: var(--yimn-blue);
}
/* End Projects Section */
/* Start Resume Section */
.resume .parent {
    display: flex;
    flex-wrap: wrap;
}
.resume .parent > div {
    width: 100%;
}
@media (min-width: 992px) {
    .resume .parent {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .resume .parent > div {
        width: calc((100% - 50px) / 2);
    }
}
.resume .parent h2 {
    color: var(--platinum);
    font-size: 50px;
    margin-bottom: 0;
}
@media (min-width: 992px) {
    .resume .parent .exp {
        transition-delay: 200ms;
    }
}
.resume .parent > div > div {
    font-size: 30px;
    position: relative;
    margin-left: 85px;
    margin-top: 40px;
}
.resume .parent > div > div::before {
    content: attr(year);
    position: absolute;
    right: calc(100% + 15px);
    top: -5px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--platinum);
    color: var(--rich-black);
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    z-index: 1;
}
.resume .parent > div > div {
    color: var(--platinum);
    font-weight: bold;
    font-size: 25px;
}
.resume .parent > div > div p {
    font-size: 20px;
    font-weight: normal;
    color: var(--sliver-blue);
    line-height: 1.6;
    margin: 15px 0 0;
}
.resume .parent > div > div:not(:last-of-type) p::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    right: calc(100% + 52px);
    background-color: var(--platinum);
}
/* End Resume Section */
/* Start Contact Section */
.contact .container {
    text-align: center;
    color: var(--platinum);
}
.contact .gmail h2 {
    font-size: 35px;
}
.contact .gmail a {
    font-size: 25px;
    font-weight: bold;
    display: block;
    color: inherit;
    text-decoration: none;
    word-wrap: break-word;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .contact .gmail a {
        font-size: 20px;
    }
}
.contact .gmail a:before {
    font-family: "Font Awesome 6 Free";
    content: "\f0e0";
    font-weight: 900;
    position: relative;
    margin-right: 5px;
    top: 1px;
}
@media (max-width: 768px) {
    .contact .gmail a:before {
        display: block;
        margin: 0 0 5px;
        font-size: 25px;
    }
}
.contact .social-media i {
    font-size: 20px;
    padding: 12px;
    color: var(--platinum);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.contact .social-media a:first-of-type:hover i {
    background-color: #1877f2;
}
.contact .social-media a:nth-of-type(2):hover i {
    background-color: #0a66c2;
}
.contact .social-media a:nth-of-type(3):hover i {
    background-color: #333;
}
.contact .social-media a:nth-of-type(4):hover i {
    background-color: #c13584;
}
.contact .social-media a:last-of-type:hover i {
    background-color: #075e54;
}
/* End Contact Section */
/* Start Footer */
footer {
    background-color: var(--yimn-blue);
    color: var(--platinum);
}
footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}
footer .container .copyright {
    font-weight: bold;
    padding: 10px;
}
footer .container .copyright .fa-heart {
    color: red;
}
/* End Footer*/
