@use "../helpers/" as *;

.main-heading {
    margin-block: 0 60px;
    padding-bottom: 35px;
    font-size: 2rem;
    color: $heading;
    border-bottom: 1px solid #dcd8d8;
    text-transform: uppercase;
    text-align: center;
}
