// Start of screen sizes variables
$max-small: 767px;
$min-medium: 768px;
$max-medium: 991px;
$min-large: 992px;
$max-large: 1200px;
$small-screen: 720px;
$medium-screen: 960px;
$large-screen: 1140px;
// End of screen sizes variables

// Start fonts
$font-link: "../fonts/Montserrat-";
$font-name: "Montserrat";
$font-weights: Regular 400, Medium 500, Bold 700;
$font-format: "ttf";
$normal: 400;
$medium: 500;
$bold: 700;
// End fonts

// Start colors
$main-color: #0880df;
$dark-main-color: #0662ac;
$main-red: #e52b1d;
$alt-text: #777;
$heading: #43485c;
$facebook: #1877f2;
$linkedin: #0a66c2;
$whatsapp: #128c7e;
$youtube: #ff0000;
$github: #333;
$black-bg: #2f2f2f;
// End colors

// Start Paddings
$section-padding: 80px;
// End Paddings
